.patt_bg_plugin_title{background: #f9f5ea;}
.patt_font_plugin_title{font-size: 14px;color: #53453e;}
.patt_font_plugin_title_searchkey{font-weight:normal;color:#53453e;}
.patt_font_plugin_title_searchkey:hover{color:#c30000;text-decoration:underline;}
.patt_border_showcase_type1_title a {font-size: 14px;color: #53453e;font-weight:bold;}