.buy_content { width: 1190px; overflow: hidden; margin: 0 auto; }
.buy_content_imgbox { width: 362px; float: left; }
.buy_content_imgbox .productimgbox { width: 362px; float: left; }
.buy_content_imgbox .productimgbox .productbigimg_box { width: 362px; height: 362px; border: 1px solid #dedede; }
.buy_content_imgbox .productimgbox .productbigimg { width: 100%; height: 100%; position: relative; }
.buy_content_imgbox .productimgbox .productbigimg img { width: 362px; height: 362px; display: none; }
.buy_content_imgbox .productimgbox .productbigimg .blockimg { display: block; }
.buy_content_imgbox .productimgbox .productsmallimg { width: 362px; overflow: hidden; margin: 0 auto; margin-top: 14px; }
.buy_content_imgbox .productimgbox .productbigimg .product_lens { display: none; width: 170px; height: 170px; position: absolute; top: 0px; left: 0px; background: #FEDE4F 50% top no-repeat; opacity: .5; filter: alpha(Opacity=50); cursor: move; }
.buy_content_imgbox .productimgbox .productbigimg .product_zoom { display: none; width: 402px; height: 402px; border: 1px solid #dedede; position: absolute; top: -10px; left: 360px; background: white; overflow: hidden; z-index: 5; }
.buy_content_imgbox .productimgbox .productbigimg .product_zoom img { width: 856px; height: 856px; position: absolute; top: 0px; left: 0px; display: block; }

.productsmallimg li { width: 58px; height: 58px; float: left; margin-right: 1px; border: 2px solid #fff; }
.productsmallimg li img { width: 56px; height: 56px; border: 1px solid #ddd; padding: 0; }
.productsmallimg .libg { border: 2px solid #df3032; padding: 0; }
.productsmallimg .libg img { border: 1px solid #fff; }
.productsmallimg .lastli { margin-right: 0; }

.quantitypurchased { margin-top: 10px; }
.quantitypurchased .reserve { padding: 0 3px; color: #2f4e9e; }
.quantity { width: 66px; height: 19px; border: 1px solid #ccc; }
.quantity input { width: 40px; height: 19px; color: #666; border: none 0; text-align: center; line-height: 19px; font-size: 12px; }
.quantity * { float: left; }
.quantitypurchased .quantity a { text-decoration: none; width: 13px; height: 19px; background: #eee; line-height: 19px; font-size: 9px; text-align: center; cursor: pointer; }
.quantitypurchased li { float: left; line-height: 21px; margin-right: 5px; font-size: 12px; }

.buy_content_text { width: 788px; float: left; }
.buy_content_text .buy_content_text_a { width: auto; padding: 0px 0px 10px 0px; overflow: hidden; border-bottom: 1px dotted #cccccc; margin-left: 22px; margin-bottom: 10px; }
.buy_content_text .buy_content_text_a1 { line-height: 23px; font-size: 16px; color: #595959; }
.buy_content_text .buy_content_text_a2 { line-height: 23px; font-size: 16px; color: #c30000; }
.BuyContent_Box { width: 743px; padding-left: 23px; }
.buy_content_text .buy_content_text_b { width: 370px; overflow: visible; color: #61605d; float: left; }
.BuyContent_WXBox { float: left; }
.buy_content_text .buy_content_text_b_Open { min-height: 160px; position: relative; }
#goods_url { width: 175px; height: 142px; margin: 0 auto; text-align: center; padding-top: 10px; }
.Buy_ContentBox { float: left; }
.buy_content_state1 em { font-size: 12px; }
.buy_content_text_b .buy_content_state, .buy_content_text_b .buy_content_state1 { width: 100%; overflow: hidden; float: left; margin-bottom: 5px; }
.buy_content_text_b .buy_content_state em { display: block; float: left; }
.buy_content_text_b .buy_content_state .buy_content_state_a { width: 65px; overflow: hidden; display: block; float: left; text-justify: inter-ideograph; line-height: 30px; margin-right: 10px; font-size: 12px; text-align: justify; text-justify: distribute-all-lines; }
.buy_content_text_b .buy_content_state .buy_content_state_b { line-height: 30px; font-size: 12px; }
.buy_content_text_b .buy_content_state1 .buy_content_state_b { font-size: 30px; color: #c30000; font-weight: bold; line-height: 30px; }
.buy_content_text_b .buy_content_state1 .buy_content_state_c { min-width: 320px; color: #c30000; margin-top: 20px; font-size: 12px; }
.buy_content_text_b .buy_content_state1 .buy_content_state_c a { padding: 0 2px; background: #c30000; line-height: 30px; color: #fff; margin-right: 3px; font-size: 12px; }
.buy_content_text_b .buy_content_state1 .buy_content_state_a { width: 65px; overflow: hidden; display: block; float: left; text-justify: inter-ideograph; line-height: 30px; margin-right: 10px; font-size: 12px; }
.buy_content_text_b { position: relative; }
.buy_content_state2 .buy_content_state_b { font-size: 30px; color: #c30000; font-weight: bold; padding-left: 23px; }
.BuyContent_WX { height: 147px; float: right; margin-left: 10px; font-size: 12px; text-align: center; line-height: 15px; }
.BuyContent_WX img { display: block; width: 130px; height: 130px; margin: 0 auto; }

/*入驻商家信息*/
.BuyContent_StoreInfo { width: 202px; overflow: visible; float: right; margin-bottom: 10px; }
.StoreInfo_Bg { width: 200px; overflow: visible; border: 1px solid #dddddd; font-size: 12px; background: #fff; min-height: 147px; }
.StoreInfo_Box { width: 180px; overflow: hidden; border-bottom: 1px solid #dddddd; margin: 0 10px; }
.StoreInfo_Box_Service { width: 180px; height: 38px; border-bottom: 1px solid #dddddd; margin: 0 10px; }
.StoreInfo_NameBox { width: 60px; overflow: hidden; float: left; line-height: 38px; color: #666; }
.StoreInfo_Name { width: 100%; height: 38px; overflow: hidden; float: left; line-height: 38px; font-size: 12px; color: #333; }
.StoreInfo_Grade { width: 70px; height: 14px; float: left; padding-top: 12px; }
.StoreInfo_Grade li { width: 14px; height: 14px; float: left; background: url(../images/Favorite_gray.png); background-size: 14px 14px; }
.StoreInfo_Grade .Checked { background: url(../images/Favorite.png); background-size: 14px 14px; }

.buy_content_text_c { width: 743px; overflow: hidden; background: #fffcf5; border: 2px solid #edd28b; margin: 10px 0px 10px 22px; padding: 10px 0px; }
.buy_content_text_c .buy_content_state { width: 743px; overflow: hidden; float: left; padding-left: 5px; color: #61605d; }
.buy_content_text_c .buy_content_state .buy_content_state_a { width: 60px; height: 40px; display: block; overflow: hidden; line-height: 40px; float: left; margin-right: 10px; font-size: 12px; }
.buy_content_text_c .buy_content_state .buy_content_state_b { width: 370px; overflow: hidden; }
.buy_content_text_c .buy_content_state .buy_content_state_b a { display: block; float: left; padding: 6px 6px; color: #2d2d2d; border: 1px solid #ddd; margin: 5px; margin-left: 0px; font-size: 12px; max-width: 108px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.buy_content_text_c .buy_content_state .buy_content_state_b a:hover { border: 2px solid #f44d4d; padding: 5px; }
.buy_content_text_c .buy_content_state .buy_content_state_b .checked { border: 2px solid #f44d4d; padding: 5px; font-size: 12px; }
.buy_content_text_c .buy_content_state .buy_content_state_left { width: 70px; float: left; }
.buy_content_text_c .buy_content_state .buy_content_state_right { width: 660px; float: left; }
.buy_prop_dropdown { width: auto; height: 22px; margin-top: 10px; }

.buy_content_state .Goods_Recommend { width: auto; overflow: hidden; padding-top: 5px; }
.buy_content_state .Goods_Recommend .recommend_img { width: 52px; height: 52px; float: left; border: 1px solid #dddddd; padding: 1px; margin-right: 5px; position: relative; }
.buy_content_state .Goods_Recommend .recommend_txt { float: left; border: 1px solid #dddddd; padding: 1px; margin-right: 5px; margin-bottom: 5px; }
.buy_content_state .Goods_Recommend .self_goods { border: 2px solid #f44d4d; padding: 0; position: relative; }
.buy_content_state .Goods_Recommend li:hover { border: 2px solid #f44d4d; padding: 0; }
.buy_content_state .Goods_Recommend img { width: 50px; height: 50px; padding: 1px; }
.buy_content_state .Goods_Recommend .goods_txt { font-size: 12px; color: #61605d; padding: 5px; }
.buy_content_state .Goods_Recommend .checked { border: 2px solid #f44d4d; padding: 0; }


.buy_content_state_b .buy_contnet_service a { color: #7aaae5; border: 1px solid #7aaae5; padding: 0 3px; margin-right: 3px; }
.buy_content_state_b .buy_contnet_service a:hover { background: #7aaae5; color: #fff; }

.search_border { border-color: #f44d4d; position: relative; text-align: center; }
.buy_content_arrow { width: 176px; overflow: hidden; float: right; }
.buy_content_arrow li { float: left; line-height: 16px; padding-right: 5px; }
.buy_content_arrow li.img { width: 16px; height: 16px; }
.buy_content_button { width: 400px; overflow: hidden; padding: 20px 10px 0px 26px; }
.buy_content_button li { float: left; padding: 0px 10px; }
.button_join_cart { width: 125px; height: 36px; text-align: center; line-height: 36px; border-radius: 3px; float: left; cursor: pointer; }

.buy_details { width: 1190px; overflow: hidden; margin: 0 auto; margin-top: 50px; margin-bottom: 20px; }
.buy_details .buy_browsing_left { width: 208px; overflow: hidden; float: left; }
.buy_details .buy_browsing_left .bg_a { line-height: 37px; text-indent: 12px; font-size: 14px; border-bottom: 1px solid #e6e6e6; font-weight: bold; }
.buy_details .buy_browsing_left .buy_browsing_goods { width: 190px; overflow: hidden; margin: 0 auto; }
.buy_details .buy_browsing_left .buy_browsing_goods .buy_browsing_goods_a { width: 100%; overflow: hidden; border-bottom: 1px dotted #cccccc; margin-top: 10px; margin-bottom: 10px; }
.buy_details .buy_browsing_left .buy_browsing_goods .buy_browsing_goods_a .buy_browsing_goods_img { width: 100%; height: 180px; cursor: pointer; position: relative; }
.buy_details .buy_browsing_left .buy_browsing_goods .buy_browsing_goods_a .buy_browsing_goods_img img { width: 180px; height: 180px; display: block; margin: 0 auto; border: 1px solid #ccc; }
.buy_browsing_goods_a .buy_browsing_goods_text { width: 100%; height: 40px; padding-top: 10px; cursor: pointer; }
.buy_browsing_goods_a .buy_browsing_goods_text a { color: #333; line-height: 18px; font-size: 12px; }
.buy_browsing_goods_a .buy_browsing_goods_text a:hover { color: #c30000; text-decoration: underline; }
.buy_browsing_goods_a .buy_browsing_goods_rmb p { text-align: center; font-family: arial; font-weight: bold; color: #c30000; line-height: 20px; font-size: 12px; }
.buy_browsing_goods_a .buy_browsing_goods_rmb span { width: auto; padding: 0 2px; line-height: 25px; background: #c30000; color: #fff; margin: 0 3px; }

.buy_details .buy_browsing_right { width: 970px; overflow: hidden; float: right; }

.buy_browsing_goods_b { width: 100%; overflow: hidden; }
.buy_browsing_goods_b .buy_browsing_goods_b_title { width: 100%; height: 38px; line-height: 38px; }
.buy_browsing_goods_b .buy_browsing_goods_b_title li { float: left; margin-bottom: -1px; }
.buy_browsing_goods_b .buy_browsing_goods_b_title a { display: block; border: 0px solid #f2f2f5; padding: 0px 20px; border-bottom: none; color: #000; background: white; font-size: 12px; }
.buy_browsing_goods_b .buy_browsing_goods_b_title .buy_browsing_cheaked { color: #b20000; border: 1px solid #dddddd; border-bottom: 0px; border-top: 3px solid #c30000; background: white; }


.buy_browsing_goods_content { width: 910px; overflow: hidden; border-top: 1px solid #ddd; padding: 10px; }
.buy_browsing_goods_content1 { width: 930px; overflow: hidden; border-top: 1px solid #ddd; padding-top: 15px; }
.buy_browsing_goods_content1 #buy_browsing_goods_title li { float: left; border-bottom: 4px solid #8cd5ff; line-height: 25px; color: #6d6d6d; font-size: 12px; }
.buy_browsing_goods_content1 .goods_content1_a { width: 120px; text-align: center; }
.buy_browsing_goods_content1 .goods_content1_b { width: 464px; margin-left: 4px; text-align: center; }
.buy_browsing_goods_content1 .goods_content1_c { width: 234px; margin-left: 4px; text-align: center; }
.buy_browsing_goods_content1 .goods_content1_d { width: 100px; margin-left: 4px; text-align: center; }

.buy_browsing_goods_content2 { width: 100%; overflow: hidden; border-bottom: 1px solid #e3e3e3; }
.buy_browsing_goods_content2 li { float: left; line-height: 20px; padding: 5px; color: #6d6d6d; border-bottom: 0px; }
.buy_browsing_goods_content2 .goods_content1_a { width: 93px; overflow: hidden; margin-top: 8px; text-align: left; padding-left: 20px; font-size: 12px; }
.buy_browsing_goods_content2 .goods_content1_a a { color: #568396; font-size: 12px; }
.buy_browsing_goods_content2 .goods_content1_b { width: 450px; margin-left: 8px; margin-top: 8px; word-break: break-all; text-align: left; font-size: 12px; }
.buy_browsing_goods_content2 .goods_content1_c { width: 206px; margin-left: 8px; margin-top: 8px; padding-left: 20px; font-size: 12px; }
.buy_browsing_goods_content2 .goods_content1_d { width: 88px; margin-left: 7px; }
.goods_content_star { width: 65px; overflow: hidden; margin: 0 auto; margin-top: 15px; }
.goods_content_star li { width: 11px; height: 11px; float: left; padding: 0 1px; position: relative; }
.buy_browsing_goods_content2 .icon_l { position: absolute; top: 0; left: 0; }
.buy_browsing_goods_content2 .icon_o { position: absolute; top: 0; left: 0; }
.buy_goods_consult_user { width: 100%; overflow: hidden; padding: 10px 0px; border-bottom: 1px dotted #dedede; font-size: 12px; }
.buy_goods_consult_user .user_name { width: 100%; overflow: hidden; font-size: 12px; }
.buy_goods_consult_user .user_name span { color: #9c9a9c; margin-right: 20px; line-height: 20px; }
.buy_goods_consult_user .user_Q { width: 100%; overflow: hidden; line-height: 20px; color: #666666; }
.buy_goods_consult_user .user_A { width: 100%; overflow: hidden; line-height: 20px; color: #ff6500; }
.buy_goods_consult_user .user_Name { width: 60px; overflow: hidden; text-align: right; float: left; }
.buy_goods_consult_user .user_content { width: 870px; overflow: hidden; float: left; word-break: break-all; word-wrap: break-word; }

.buy_goods_consult { width: 928px; height: 80px; overflow: hidden; border: 1px solid #ddd; border-top: none; margin-top: -20px; }
.buy_goods_consult_search { width: 250px; overflow: hidden; float: left; padding: 5px 10px; border-right: 1px solid #efd38c; margin-top: 10px; }
.buy_goods_consult_text { width: 100%; line-height: 20px; color: #666666; font-size: 12px; }
.buy_goods_consult_input { width: 100%; overflow: hidden; margin-top: 5px; }
.buy_goods_consult_input dt { width: 170px; height: 25px; float: left; margin-right: 4px; }
.buy_goods_consult_input dt input { width: 168px; height: 23px; border: 1px solid #cccccc; color: #9c9a9c; line-height: 23px; }
.buy_goods_consult_input dd { width: 51px; height: 23px; background: #f2faec; border: 1px solid #bed6af; border-radius: 2px; line-height: 23px; text-align: center; float: left; cursor: pointer; font-size: 12px; }
.buy_goods_consult_hint { width: 630px; overflow: hidden; float: left; padding: 5px 0px 5px 20px; color: #9c9a9c; margin-top: 15px; line-height: 40px; font-size: 12px; }
.buy_goods_consult_publishBox { width: 928px; overflow: hidden; border: 1px solid #ddd; border-top: 2px solid #969696; margin-top: 10px; padding-bottom: 10px; }
.buy_goods_consult_publishTitle { width: 910px; overflow: hidden; margin: 0 auto; padding: 10px 0; color: #616155; font-size: 14px; font-weight: bold; }
.buy_goods_consult_publishStatement { width: 890px; overflow: hidden; padding-left: 24px; line-height: 20px; color: #616161; font-size: 12px; }
.buy_goods_consult_publishContent { width: 600px; overflow: hidden; padding-left: 50px; margin-top: 10px; }
.buy_goods_consult_publishContent dt { width: 60px; overflow: hidden; float: left; font-weight: bold; color: #616161; text-align: right; font-size: 12px; }
.buy_goods_consult_publishContent dd { width: 500px; overflow: hidden; float: left; }
.buy_goods_consult_publishContent dd textarea { width: 498px; height: 100px; border: 1px solid #aeaeae; }
.buy_goods_consult_publishSubmitBox { width: 610px; overflow: hidden; }
.buy_goods_consult_publishSubmit { width: 90px; height: 25px; border: 1px solid #c0c5c9; float: right; background: #fff; border-radius: 3px; text-align: center; line-height: 25px; margin-bottom: 5px; cursor: pointer; color: #283a4c; font-size: 14px; box-shadow: 0px 1px 0px #f2f2f2; margin-top: 10px; }

.much-tag { width: 968px; overflow: hidden; border: 1px solid #e6e6e6; }
.much-tag_title { height: 38px; border-bottom: 1px solid #e6e6e6; width: 100%; line-height: 38px; font-weight: bold; }
.much-tag_title span { float: right; padding-right: 10px; }
.much-tag_title span a { color: #2f4e9e; font-weight: normal; font-size: 12px; }
.title { font-size: 14px; color: #6c5143; text-indent: 12px; }
.much-tag_goods { width: 970px; overflow: hidden; }
.much-tag_goods li { width: 174px; height: 255px; float: left; padding: 0px 10px; }
.much-tag_goods_a_img img { display: block; margin: 0 auto; width: 176px; height: 178px; text-align: center; line-height: 17px; color: #323232; float: left; cursor: pointer; margin-top: 10px; border: 1px solid #ccc; }
.much-tag_goods_a_intro { margin: 0 auto; width: 100%; text-align: center; line-height: 20px; color: #323232; float: left; margin-top: 5px; cursor: pointer; overflow: hidden; font-size: 14px; height: 40px; }
.much-tag_goods_a_rmb { margin: 0 auto; width: 100%; text-align: center; float: left; line-height: 15px; color: #686868; }
.much-tag_goods_a_rmb span { color: #c30000; font-weight: bold; font-size: 14px; }
.much-tag_title .checked, .much-tag_title .checked a { background: white; border-bottom: 1px solid white; color: #c30000; }

/*秒杀*/
.countdown_product_time { width: auto; height: 25px; line-height: 20px; text-indent: 0px; margin: 0 auto; float: left; margin-top: 5px; padding: 0 5px; background-repeat: no-repeat; background-position: 3px 2px; display: none; }
.countdown_product_time b { font-size: 16px; margin: 0 1px; color: #ffe134; }
.countdown_product_time .goods_seckill { width: 100%; height: 25px; float: left; line-height: 25px; font-size: 14px; color: #f24914; font-weight: 700; }
.icon_seckill { position: absolute; top: 0; left: 0; }

.prop_select { position: absolute; right: 0px; bottom: 0px; }

/* 购物车添加成功对话框 */
.addcart { width: 300px; overflow: hidden; }
.addcart .addcart_box { width: 100%; height: 36px; margin-bottom: -14px; font-size: 12px; }
.addcart .addcart_box li { float: left; font-size: 12px; }
.addcart .addcart_box .addcart_title { width: 170px; line-height: 35px; padding-left: 10px; padding-right: 73px; }
.addcart_right { padding-top: 10px; cursor: pointer; }
.addcart .addcart_box .icon_choose { float: right; }
.addcart_choose { float: right; padding-left: 3px; line-height: 13px; }
.addcart_text { width: 100%; text-align: center; color: #828282; margin-top: 25px; font-size: 12px; }
.addcart_text a { text-decoration: none; color: #c80807; padding: 0 5px; font-size: 12px; }
.addcart_button { width: 230px; overflow: hidden; margin: 0 auto; margin-top: 15px; margin-bottom: 10px; color: #313131; }
.button_bg1 { float: left; line-height: 27px; text-align: center; margin-right: 15px; cursor: pointer; font-size: 12px; }

/* 购物车添加成功对话框 新 */
.mod_carttip { position: absolute; z-index: 29; background: #fff; border: 1px solid #ccc; display: none; box-shadow: 2px 2px 2px rgba(0,0,0,0.1); }
.mod_carttip2 { width: 286px; height: 93px; }
/*.mod_carttip2 .mod_carttip_con{width:200px;}*/
.mod_carttip_inner { padding: 15px 20px; }
.mod_carttip_ico, .mod_carttip_con, .mod_carttip_glist li { float: left; display: inline; }
.mod_carttip_ico { width: 42px; }
.mod_carttip_ico i { vertical-align: baseline; }
.mod_carttip_con h4, .mod_carttip_btn1, .mod_carttip_btn2 { font-family: \5FAE\8F6F\96C5\9ED1; }
.mod_carttip_con h4 { font-size: 16px; font-weight: normal; height: 22px; overflow: hidden; margin-top: 5px; }
.mod_carttip_action { margin-top: 10px; }
.mod_carttip_ico_success, .mod_carttip_ico_error, .mod_carttip_ico_info { overflow: hidden; display: inline-block; background-image: url("../images/ico.png"); font-size: 0; line-height: 0; vertical-align: middle; width: 32px; height: 32px; }
.mod_carttip_ico_success { background-position: -100px 0; }
.mod_carttip_btn { cursor: pointer; overflow: visible; outline: 0; color: #555; display: inline-block; padding: 0 15px; width: auto; height: 26px; border: 1px solid #2471de; vertical-align: middle; text-decoration: none; line-height: 24px; }
.mod_carttip_btn_bg1 { border-color: #BBB; }
.mod_carttip_btn_bg2 { border-color: #e07603; }
.mod_carttip_btn1, .mod_carttip_btn2 { font-size: 14px; width: 60px; text-align: center; vertical-align: baseline; }
.mod_carttip_close { position: absolute; top: 10px; right: 10px; width: 16px; height: 16px; text-align: center; font-size: 16px; _font-size: 18px; color: #085c9b; line-height: 1; }
.mod_carttip_close:hover { color: #d4105a; text-decoration: none; }
.mod_carttip_arr { overflow: hidden; position: absolute; background-image: url("../images/hint.png"); background-repeat: no-repeat; }
.mod_carttip_arr1, .mod_carttip_arr3 { width: 13px; height: 7px; }
.mod_carttip_arr1 { background-position: -1px -32px; left: 45px; top: -7px; }
.mod_carttip_arr3 { background-position: -1px -40px; left: 45px; bottom: -7px; }

/*分页*/
.product_listpage { width: 660px; height: 30px; margin: 0 auto; margin-top: 10px; font-size: 12px; }
.product_listpage .product_pagebox { width: 600px; height: 26px; }
.product_listpage .product_page { width: 400px; height: 26px; margin: 0 auto; }
.product_listpage .product_page li { float: left; padding: 0 9px; border: 1px solid #ccc; color: #32312d; line-height: 26px; margin-right: 5px; cursor: pointer; }
.product_listpage .product_cilckpage { width: 40px; }
.product_page li.product_pagebgcolor { border: 1px solid #782326; color: #782326; background: #ffe1e7; }
.product_pagesubmit input.product_page01 { width: 26px; height: 26px; float: left; line-height: 26px; border: 1px solid #cccccc; text-align: center; margin-top: 0px; }
.product_pagesubmit li.product_submit { width: 38px; height: 26px; border: 1px solid #cccccc; text-align: center; margin-top: 0px; line-height: 26px; cursor: pointer; }
.product_pagesubmit li.product_submit:hover { border: 1px solid #c30000; color: #782326; }
.product_pagesubmit li.product_submit:active { border: 1px solid #782326; background: #ffe1e7; color: #782326; }

.Goods_UNEvaluate { width: 100%; overflow: hidden; text-align: center; font-size: 16px; color: #999; padding-top: 190px; background: url(../images/NotFound.png) no-repeat center 50px; }


.productsmallimg_box { width: 363px; height: 72px; margin-left: 23px; position: relative; }
.productsmallimg_box span { display: block; width: 14px; height: 27px; position: absolute; }
.left_tr { width: 18px; height: 31px; background: url(../images/new_main_icon.png) no-repeat 0 -21px; position: absolute; left: -23px; top: 17px; }
.right_tr { width: 18px; height: 31px; background: url(../images/new_main_icon.png) no-repeat -19px -21px; left: 325px; top: 17px; }

/***************V20009新版商品详情样式-----start***************/
/*分页*/
.main_page a { color: #333; border: 1px solid #DDD; background: #F7F7F7; float: left; height: 36px; line-height: 36px; padding: 0px 14px; margin-right: 5px; font-size: 14px; }
.main_page .page_current { border: 1px solid #fff; color: #df3032; background: #fff; }
/*分页*/
.goodsdetails_goodsinfobg { width: 1190px; overflow: hidden; margin: 0 auto; }
.goodsdetails_goodsinfobox { width: 100%; overflow: hidden; margin-top: 5px; position: relative; }
.goodsdetails_goodsinfobox_imgzoom { width: 368px; overflow: hidden; float: left; }
.goodsdetails_goodsinfobox_imgzoom_bigimg { width: 366px; height: 366px; border: 1px solid #e8e8e8; background: #fff; position: relative; }
.goodsdetails_goodsinfobox_imgzoom_bigimg img { width: 366px; height: 366px; }
.goodsdetails_goodsinfobox_imgzoom_bigimg_iconbox { width: 24px; height: 24px; border-top: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8; position: absolute; bottom: 0; right: 0; background: #fff; }
.goodsdetails_goodsinfobox_imgzoom_bigimg_icon { margin: 0 auto; margin-top: 5px; }
.goodsdetails_goodsinfobox_soldbox { width: 366px; height: 366px; position: absolute; top: 0; left: 0; }
.goodsdetails_goodsinfobox_sold { margin-top: 133px; }
.goodsdetails_goodsinfobox_imgzoom_smallimg { width: auto; padding: 0 24px; overflow: hidden; margin-top: 10px; position: relative; }
.goodsdetails_goodsinfobox_imgzoom_smallimg li { width: 58px; height: 58px; margin-left: 1px; margin-right: 1px; float: left; border: 1px solid #e8e8e8; padding: 1px; }
.goodsdetails_goodsinfobox_imgzoom_smallimg li:hover { border: 1px solid #df3032; }
.goodsdetails_goodsinfobox_imgzoom_smallimg img { width: 58px; height: 58px; }
.goodsdetails_goodsinfobox_imgzoom_smallimg .checked { border: 2px solid #df3032; padding: 0; }
.goodsdetails_goodsinfobox_imgzoom_smallimg .checked:hover { border: 2px solid #df3032; padding: 0; }
.goodsdetails_goodsinfobox_imgzoom_smallimg .checked img { border-color: #df3032; }
.goodsdetails_goodsinfobox_imgzoom_smallimg_leftarrow { width: 18px; height: 31px; background: url(../images/new_main_icon.png) no-repeat 0 -21px; position: absolute; top: 16px; left: 0; }
.goodsdetails_goodsinfobox_imgzoom_smallimg_rightarrow { width: 18px; height: 31px; background: url(../images/new_main_icon.png) no-repeat -19px -21px; position: absolute; top: 16px; right: 0; }
.goodsdetails_goodsinfobox_imgzoom_smallimg_leftarrow:hover { background: url(../images/new_main_icon.png) no-repeat 0 -53px; }
.goodsdetails_goodsinfobox_imgzoom_smallimg_rightarrow:hover { background: url(../images/new_main_icon.png) no-repeat -19px -53px; }
.goodsdetails_goodsinfobox_imgzoom .productbigimg_box .productbigimg .blockimg { display: block; }
.goodsdetails_goodsinfobox_openimg { width: 436px; height: 436px; background: #fff; border: 1px solid #e8e8e8; position: absolute; top: 0; left: 378px; z-index: 1; display: none; }
.goodsdetails_goodsinfobox_openimg img { width: 436px; height: 436px; }

.goodsdetails_goodsinfobox_content { width: 590px; overflow: hidden; float: left; font-size: 14px; margin-left: 35px; font-size:13px;color: #666;}
.goodsdetails_goodsinfobox_content a{font-size:13px;color: #666;}
.goodsdetails_goodsinfobox_content_title { width: 100%; overflow: hidden; padding-bottom: 0.2em; line-height: 25px; font-size: 16px; font-weight: 700; color: #000; }
.goodsdetails_goodsinfobox_content_subtitle { width: 100%; overflow: hidden; color: #df3032; }
.goodsdetails_goodsinfobox_content_salebg { width: 100%; overflow: hidden; background-color: #f0f0f0; margin-top: 10px; }
.goodsdetails_goodsinfobox_content_row { width: 100%; overflow: hidden; padding-top: 5px; }
.goodsdetails_goodsinfobox_content_row dt { color: #999; font-size: 12px; text-align: left; float: left; width: 69px; margin: 0px 0px 0px 8px; }
.goodsdetails_goodsinfobox_content_row dd { color: #000; }
.goodsdetails_goodsinfobox_content_row .row_number { line-height: 42px; }
.goodsdetails_goodsinfobox_content_row .row_img { line-height: 42px; }
.goodsdetails_goodsinfobox_content_row .row_text { line-height: 32px; }
.goodsdetails_goodsinfobox_content_pricebox { padding: 10px 0; }
.goodsdetails_goodsinfobox_content_price .price_yen { font-family: arial; color: #000; }
.goodsdetails_goodsinfobox_content_price .price_rmb { text-decoration: line-through; color: #000; }
.goodsdetails_goodsinfobox_content_saleprice { line-height: 24px; font-size: 12px; }
.goodsdetails_goodsinfobox_content_saleprice .price_yen { vertical-align: middle; color: #df3033; font-size: 18px; font-family: Arial; display: inline-block; margin-bottom: -6px; }
.goodsdetails_goodsinfobox_content_saleprice .price_rmb { vertical-align: middle; font-size: 30px; color: #df3033; font-weight: bold; font-family: Verdana; text-decoration: none; }
.goodsdetails_goodsinfobox_content_saleprice .price_sale { background-color: #F47A86; border-radius: 1px; color: #FFF; height: 16px; line-height: 16px; margin: 0px 2px 4px 6px; padding: 1px 5px; position: relative; }
.goodsdetails_goodsinfobox_content_saleprice .price_sale i { position: absolute; width: 0px; display: block; font-size: 0px; left: -4px; bottom: 0px; height: 0px; border-width: 3px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: transparent #F47A86 #F47A86 transparent; }
.goodsdetails_goodsinfobox_content_salebox { width: 100%; overflow: hidden; background: #df3032; line-height: 32px; color: #fff; cursor: pointer; }
.goodsdetails_goodsinfobox_content_salebox em { display: block; float: left; }
.goodsdetails_goodsinfobox_content_salebox .sale_title { font-size: 16px; color: #ffe134; padding-left: 25px; position: relative; }
.goodsdetails_goodsinfobox_content_salebox .sale_ms { position: absolute; top: 9px; left: 10px; }
.goodsdetails_goodsinfobox_content_salebox .sale_info { color: #fff; padding-left: 8px; }
.goodsdetails_goodsinfobox_content_salebox .sale_time { float: right; color: #fff; padding-right: 10px; padding-left: 20px; position: relative; }
.goodsdetails_goodsinfobox_content_salebox .sale_time span { color: #ffe134; }
.goodsdetails_goodsinfobox_content_salebox .sale_clock { position: absolute; top: 9px; left: 0px; }
.goodsdetails_goodsinfobox_content_salebox a { color: white; }
.goodsdetails_goodsinfobox_content_freightbox { width: 100%; overflow: hidden; padding: 10px 0; border-bottom: 1px dotted #c9c9c9; }
.goodsdetails_goodsinfobox_content_freightbox .goodsdetails_goodsinfobox_content_row { padding: 0; line-height: 30px; }
.goodsdetails_goodsinfobox_content_star { width: auto; overflow: hidden; float: left; margin-top: 10px; }
.goodsdetails_goodsinfobox_content_freightbox .fre_salesbox { color: #999; }
.goodsdetails_goodsinfobox_content_freightbox .fre_sales { color: #df3032; font-family: Verdana; font-weight: bold; padding: 0 5px; }
.goodsdetails_goodsinfobox_content_attrbox { width: 100%; overflow: hidden; padding: 10px 0; border-bottom: 1px dotted #c9c9c9; }
.goodsdetails_goodsinfobox_content_attrbox .goodsdetails_goodsinfobox_content_row { padding: 3px 0; line-height: 30px; }
.goodsdetails_goodsinfobox_content_textattr { width: auto; overflow: hidden; }
.goodsdetails_goodsinfobox_content_textattr li { border: 1px solid #b8b7bd; background: #fff; float: left; margin-right: 5px; margin-bottom: 5px; padding: 2px 5px 2px 5px; position: relative; cursor: pointer; font-size:13px;color: #666;}
.goodsdetails_goodsinfobox_content_textattr li:hover { border: 1px solid #df3032; }
.goodsdetails_goodsinfobox_content_textattr .checked { border: 2px solid #df3032; height:28px;}
.goodsdetails_goodsinfobox_content_textattr .checked:hover { border: 2px solid #df3032; }
.goodsdetails_goodsinfobox_content_textattr a { display: block; padding: 0 10px; color: #000; line-height: 28px; }
.goodsdetails_goodsinfobox_content_textattr a:hover { color: #df3032; }
.goodsdetails_goodsinfobox_content_textattr .selected_icon { position: absolute; bottom: 0; right: 0; }
.goodsdetails_goodsinfobox_content_textattr .no_stock { border: 1px dashed #d6d6d8; cursor: not-allowed; color: #cdcdcd; }
.goodsdetails_goodsinfobox_content_textattr .no_stock:hover { border: 1px dashed #d6d6d8; }
.goodsdetails_goodsinfobox_content_textattr .no_stock a { color: #cdcdcd; cursor: not-allowed; }
.goodsdetails_goodsinfobox_content_imgattr { width: auto; overflow: hidden; }
.goodsdetails_goodsinfobox_content_imgattr li { line-height: 28px; border: 1px solid #b8b7bd; background: #fff; float: left; margin-right: 5px; margin-bottom: 5px; padding: 1px; position: relative; }
.goodsdetails_goodsinfobox_content_imgattr li:hover { border: 1px solid #df3032; }
.goodsdetails_goodsinfobox_content_imgattr .checked { padding: 0px; border: 2px solid #df3032; }
.goodsdetails_goodsinfobox_content_imgattr .checked:hover { padding: 0px; border: 2px solid #df3032; }
.goodsdetails_goodsinfobox_content_imgattr a { display: block; width: 38px; height: 38px; background-size: 38px 38px; }
.goodsdetails_goodsinfobox_content_imgattr .selected_icon { position: absolute; bottom: 0; right: 0; }
.goodsdetails_goodsinfobox_content_imgattr .no_stock_border { border: 1px dashed #d6d6d8; cursor: not-allowed; }
.goodsdetails_goodsinfobox_content_imgattr .no_stock_border:hover { border: 1px dashed #d6d6d8; }
.goodsdetails_goodsinfobox_content_imgattr .no_stock { width: 100%; height: 100%; float: left; background: url(../images/no_stock.gif); }
.goodsdetails_goodsinfobox_content_imgattr .no_stock_border a { cursor: not-allowed; color: #cdcdcd; margin: 0px; }
.goodsdetails_goodsinfobox_content_attrbox .number_box { width: 49px; height: 40px; border: 1px solid #cccccc; background: #fff; float: left; }
.goodsdetails_goodsinfobox_content_attrbox .number_box input { width: 33px; height: 40px; border: none; text-align: center; line-height: 40px; float: left; }
.goodsdetails_goodsinfobox_content_attrbox .number_box .number_icon { width: 16px; overflow: hidden; float: left; }
.goodsdetails_goodsinfobox_content_attrbox .number_box .number_icon a { display: block; width: 15px; height: 20px; background: #f0f0f0; text-align: center; line-height: 20px; border-left: 1px solid #ccc; cursor: pointer; }
.goodsdetails_goodsinfobox_content_attrbox .number_box .number_icon a:first-child { height: 19px; border-bottom: 1px solid #ccc; }
.goodsdetails_goodsinfobox_content_attrbox .number_unit { line-height: 42px; padding-left: 5px; }
.goodsdetails_goodsinfobox_content_servicebox { width: 100%; overflow: hidden; padding: 10px 0; }
.goodsdetails_goodsinfobox_content_servicebox .goodsdetails_goodsinfobox_content_row { padding: 5px 0; line-height: 30px; }
.goodsdetails_goodsinfobox_content_service { width: auto; overflow: hidden; }
.goodsdetails_goodsinfobox_content_service li { float: left; padding: 0px 10px 0px 20px; position: relative; }
.goodsdetails_goodsinfobox_content_serviceicon { position: absolute; top: 7px; left: 0; }
.goodsdetails_goodsinfobox_content_buttonbox { width: 100%; overflow: hidden; }
.goodsdetails_goodsinfobox_content_buttonbox button { float: left; margin-right: 10px; border: none; cursor: pointer; }
.goodsdetails_goodsinfobox_content_buttonbox button[disabled] { background: #c5c5c5; }

.goodsdetails_goodsinfobox_phone { width: 178px; overflow: hidden; float: right; }
.goodsdetails_goodsinfobox_phone_title { width: auto; overflow: hidden; border: 1px solid #eaeaea; background: #fcfcfc; text-align: center; line-height: 30px; }
.goodsdetails_goodsinfobox_phone_wx { width: auto; overflow: hidden; border: 1px solid #eaeaea; border-top: none; background: #fff; }
.goodsdetails_goodsinfobox_phone_wx img { display: block; padding: 15px; }
.goodsdetails_goodsinfobox_phone_collectbox { width: 100%; overflow: hidden; }
.goodsdetails_goodsinfobox_phone_collect { width: 100%; overflow: hidden; margin-top: 10px; }
.goodsdetails_goodsinfobox_phone_collect a { display: block; width: 40px; margin: 0 auto; line-height: 27px; border: 1px solid #dedede; background: #f0f0f0; color: #666; border-radius: 500px; padding-left: 35px; position: relative; }
.goodsdetails_goodsinfobox_phone_collecticon { position: absolute; top: 7px; left: 15px; }
.goodsdetails_goodsinfobox_phone_ycollect { width: 100%; overflow: hidden; margin-top: 10px; }
.goodsdetails_goodsinfobox_phone_ycollect a { display: block; width: 55px; margin: 0 auto; line-height: 27px; border: 1px solid #df3032; background: #df3032; color: #fff; border-radius: 500px; padding-left: 35px; position: relative; }
.goodsdetails_goodsinfobox_phone_ycollecticon { position: absolute; top: 7px; left: 15px; }
.goodsdetails_goodsinfobox_phone_ncollect { width: 100%; overflow: hidden; margin-top: 10px; }
.goodsdetails_goodsinfobox_phone_ncollect a { display: block; width: 70px; margin: 0 auto; line-height: 27px; border: 1px solid #dedede; background: #f0f0f0; color: #666; border-radius: 500px; padding-left: 35px; position: relative; }
.goodsdetails_goodsinfobox_phone_ncollecticon { position: absolute; top: 7px; left: 15px; }
.goodsdetails_groupbuybox { width: 100%; overflow: hidden; margin-top: 30px; }
.goodsdetails_groupbuybox_title { width: auto; overflow: hidden; background: #f7f7f7; border: 1px solid #e6e6e6; border-bottom: 2px solid #df3032; line-height: 37px; padding: 0 5px 0px 10px; }
.goodsdetails_groupbuybox_title a { display: block; float: right; padding: 0 15px; line-height: 28px; background: #df3032; color: #fff; margin-top: 5px; }
.goodsdetails_groupbuy_goods { width: 100%; overflow: hidden; margin-top: 10px; }
.goodsdetails_groupbuy_goods div { cursor: pointer; }

.goodsdetails_groupbuy_goods .goodsbox_list { width: 228px; overflow: hidden; float: left; border: 1px solid #dddddd; background: #fff; margin-right: 10px; position: relative; margin-bottom: 13px; }
.goodsdetails_groupbuy_goods .goodsbox_list:nth-child(4) { margin-right: 10px; }
.goodsdetails_groupbuy_goods .goodsbox_list:nth-child(5) { margin-right: 0px; }
.goodsdetails_groupbuy_goods .goodsbox_img { width: 212px; height: 212px; background: #fff; margin: 0 auto; margin-top: 8px; }
.goodsdetails_groupbuy_goods .goodsbox_img img { display: block; width: 212px; height: 212px; }

.goodsdetails_content { width: 100%; overflow: hidden; margin-top: 30px; }
.goodsdetails_content_leftbox { width: 228px; overflow: hidden; float: left; font-size:13px;color: #666;}
.goodsdetails_content_leftbox a{ font-size:13px;color: #666;}
.goodsdetails_content_storebox { width: auto; overflow: hidden; border: 1px solid #e0e0e0; margin-bottom: 10px; }
.goodsdetails_content_title { width: 100%; overflow: hidden; border-bottom: 1px solid #e0e0e0; line-height: 40px; background: #f7f7f7; text-indent: 10px; font-weight: bold; }
.goodsdetails_content_info { width: auto; overflow: hidden; padding: 10px; padding-bottom: 10px; }
.goodsdetails_content_storebox_button { width: 100%; overflow: hidden; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; }
.goodsdetails_content_storebox_button a { display: block; width: 96px; height: 30px; background: #f8f8f8; border: 1px solid #dddddd; line-height: 30px; text-indent: 30px; position: relative; float: left; margin-left: 8px; }
.goodsdetails_content_storebox_button a:first-child { margin-left: 0px; }
.goodsdetails_content_storebox_button .storebox_buttonicon { position: absolute; top: 9px; left: 10px; }
.goodsdetails_content_tag { width: auto; overflow: hidden; margin-bottom: 5px; }
.goodsdetails_content_tag dt { width: 55px; overflow: hidden; float: left; line-height: 25px; }
.goodsdetails_content_tag dd { width: auto; overflow: hidden; float: left; }
.goodsdetails_content_tag .tag_input input { width: 145px; height: 23px; border: 1px solid #cccccc; }
.goodsdetails_content_tag .price_input input { width: 60px; height: 23px; border: 1px solid #cccccc; }
.goodsdetails_content_tag .price_input em { padding: 0 5px; line-height: 25px; }
.goodsdetails_content_tag .tag_button a { display: block; width: 70px; height: 28px; background: #f5f4f4; border: 1px solid #cccccc; text-align: center; line-height: 28px; float: right; color: #333; }
.goodsdetails_content_service { width: auto; overflow: hidden; padding: 5px 10px 10px; }
.goodsdetails_content_service li { width: 50%; overflow: hidden; text-align: center; line-height: 25px; float: left; margin-bottom: 5px; }
.goodsdetails_content_service a { float: left; width: 25px; height: 25px; }
.goodsdetails_content_service img { display: block; margin: 0 auto; }
.goodsdetails_content_service span { display: block; float: left; padding-left: 5px; }
.goodsdetails_content_storebox_goods { margin-top: 0px; }
.goodsdetails_content_storebox_goods .goodsbox_list { width: 204px; overflow: hidden; float: none; background: #fff; margin-right: 1px; position: relative; margin-bottom: 10px; border: 1px solid #fff; }
.goodsdetails_content_storebox_goods .goodsbox_img { width: 204px; height: 204px; background: #fff; margin: 0 auto; margin-top: 0px; border: 1px solid #dddddd; }
.goodsdetails_content_storebox_goods .goodsbox_img img { display: block; width: 202px; height: 204px; }
.goodsdetails_content_storebox_goods .goodsbox_price { padding: 8px 8px 0px 8px; }
.goodsdetails_content_storebox_goods .goodsbox_price i { font-size: 16px; font-weight: bold; }
.goodsdetails_content_storebox_goods .goodsbox_price em { font-size: 16px; color: #E4393C; font-weight: bold; font-family: Verdana; }
.goodsdetails_content_storebox_goods .goodsbox_name { margin-bottom: 0px; }

.goodsdetails_content_rightbox { width: 950px; overflow: hidden; float: right; }
.goodsdetails_content_tabbox { width: auto; overflow: hidden; background: #f7f7f7; border: 1px solid #e6e6e6; border-bottom: 2px solid #e4393c; }
.goodsdetails_content_tabbox li { line-height: 40px; float: left; border-right: 1px solid #e6e6e6; }
.goodsdetails_content_tabbox a { display: block; padding: 0 20px;font-size:13px;color: #666; }
.goodsdetails_content_tabbox .checked { background: #e4393c; }
.goodsdetails_content_tabbox .checked a { color: #fff; }
.goodsdetails_content_tabbox .checked span { color: #fff; }
.goodsdetails_content_tabbox:hover { cursor: pointer; }
.goodsdetails_content_evabox { width: auto; overflow: hidden; border: 1px solid #e6e6e6; padding: 40px 0;font-size:13px;color: #666;}
.goodsdetails_content_evabox .evabox_numberbox { width: 150px; overflow: hidden; float: left; padding-top: 15px; }
.goodsdetails_content_evabox .evabox_numberbox span { display: block; font-size: 40px; color: #e4393c; font-family: Verdana; text-align: center; }
.goodsdetails_content_evabox .evabox_numberbox em { font-size: 18px; color: #e4393c; }
.goodsdetails_content_evabox .evabox_numberbox p { text-align: center; }
.goodsdetails_content_evabox .evabox_starbox { width: auto; overflow: hidden; float: left; }
.goodsdetails_content_evabox .evabox_star { width: auto; overflow: hidden; margin-bottom: 5px; }
.goodsdetails_content_evabox .evabox_starlist { width: auto; overflow: hidden; float: left; }
.goodsdetails_content_evabox .evabox_pro { width: 100px; overflow: hidden; float: left; height: 15px; background: #efefef; margin-left: 10px; }
.goodsdetails_content_evabox .evabox_pro .evabox_proline { height: 15px; background: #e4393c; }
.goodsdetails_content_evabox .evabox_star span { line-height: 16px; padding-left: 10px; }
.goodsdetails_content_subtabbox { width: auto; height: 22px; border-bottom: 1px solid #dadada; position: relative; padding-top: 20px;font-size:13px;color: #666;}
.goodsdetails_content_subtabbox a{font-size:13px;color: #666;}
.goodsdetails_content_subtabbox li { width: auto; overflow: hidden; float: left; padding: 0 10px; line-height: 20px; }
.goodsdetails_content_subtabbox .checked { border-bottom: 3px solid #e4393c; color: #FF3B3C; position: relative; bottom: -1px; }
.goodsdetails_content_subtabbox .checked a { color: #e4393c; cursor: default; }
.goodsdetails_content_evadetailsbg { width: 100%; overflow: hidden;font-size:13px;color: #666;}
.goodsdetails_content_evadetailsbox { width: auto; overflow: hidden; border-bottom: 1px solid #dddddd; padding: 25px 30px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_star { width: 140px; overflow: hidden; float: left; }
.goodsdetails_content_evadetailsbox .evadetailsbox_starbox { width: 100%; overflow: hidden; margin-bottom: 10px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_startime { width: 100%; overflow: hidden; padding-bottom: 10px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_stargoods { width: 50px; height: 50px; border: 2px solid #f2f2f2; }
.goodsdetails_content_evadetailsbox .evadetailsbox_stargoods img { width: 50px; height: 50px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_eva { width: 560px; overflow: hidden; float: left; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evatext { width: 100%; overflow: hidden; line-height: 20px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimglist { width: 100%; overflow: hidden; margin-top: 10px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimg { width: auto; overflow: hidden; margin-bottom: 8px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimg li { width: 48px; height: 48px; float: left; margin-right: 8px; padding-bottom: 4px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimg img { display: block; width: 40px; height: 40px; padding: 2px; border: 2px solid #f2f2f2; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimg img:hover { border: 2px solid #df3032; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimg .checked { position: relative; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimg .checked img { border: 2px solid #df3032; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evaimg .checked .evaimg_icon { width: 7px; height: 4px; background: url(../images/new_main_icon.png) no-repeat -24px -134px; position: absolute; bottom: 0; left: 20px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_evabigimg { height: 300px; padding: 2px; border: 2px solid #f2f2f2; }
.goodsdetails_content_evadetailsbox .evadetailsbox_user { width: auto; overflow: hidden; float: left; margin-left: 20px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_userimg { width: 50px; height: 50px; float: left; margin-right: 3px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_userimg img { width: 50px; height: 50px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_username { width: auto; overflow: hidden; float: left; padding-left: 10px; }
.goodsdetails_content_evadetailsbox .evadetailsbox_username li { width: 100%; overflow: hidden; line-height: 25px; }


.goodsdetails_consult_user { width: auto; overflow: hidden; padding: 10px; border-bottom: 1px dotted #dedede; font-size: 12px; }
.goodsdetails_consult_user .user_box { width: 100%; overflow: hidden; line-height: 25px; }
.goodsdetails_consult_user .user_box dt { width: 70px; overflow: hidden; float: left; }
.goodsdetails_consult_user .user_box dd { width: auto; overflow: hidden; float: left; }
.goodsdetails_consult_user .user_A * { color: #FF6500; }
.goodsdetails_consult_user .user_user * { color: #999; }
.goodsdetails_consult { width: auto; overflow: hidden; border: 1px solid #ddd; border-top: none; padding-top: 10px;font-size:13px;color: #666;}
.goodsdetails_consult_search { width: 300px; overflow: hidden; float: left; padding: 5px 10px; border-right: 1px solid #efd38c; }
.goodsdetails_consult_text { width: 100%; line-height: 20px; }
.goodsdetails_consult_input { width: 100%; overflow: hidden; margin-top: 5px; }
.goodsdetails_consult_input dt { width: auto; float: left; margin-right: 4px; }
.goodsdetails_consult_input dt input { width: 200px; height: 28px; border: 1px solid #cccccc; color: #9c9a9c; line-height: 28px; }
.goodsdetails_consult_input dd { width: 51px; height: 28px; background: #f2faec; border: 1px solid #bed6af; border-radius: 2px; line-height: 28px; text-align: center; float: left; cursor: pointer; }
.goodsdetails_consult_hint { width: auto; overflow: hidden; float: left; padding: 5px 0px 5px 20px; line-height: 50px; }
.goodsdetails_consult_publishBox { width: auto; overflow: hidden; border: 1px solid #ddd; border-top: 2px solid #969696; padding: 10px 20px;font-size:13px;color: #666;}
.goodsdetails_consult_publishTitle { width: auto; overflow: hidden; margin: 0 auto; padding: 10px 0; font-size: 16px; font-weight: bold; }
.goodsdetails_consult_publishStatement { width: 100%; overflow: hidden; line-height: 20px; }
.goodsdetails_consult_publishContent { width: auto; overflow: hidden; margin-top: 10px; padding-left: 20px; }
.goodsdetails_consult_publishContent dt { width: 80px; overflow: hidden; float: left; font-weight: bold; color: #616161; }
.goodsdetails_consult_publishContent dd { width: auto; overflow: hidden; float: left; }
.goodsdetails_consult_publishContent dd textarea { width: 600px; height: 100px; border: 1px solid #aeaeae; }
.goodsdetails_consult_publishSubmitBox { width: 702px; overflow: hidden; }
.goodsdetails_consult_publishSubmit { width: 90px; height: 25px; border: 1px solid #c0c5c9; float: right; background: #fff; border-radius: 3px; text-align: center; line-height: 25px; margin-bottom: 5px; cursor: pointer; color: #283a4c; font-size: 14px; box-shadow: 0px 1px 0px #f2f2f2; margin-top: 10px; }
/***************V20009新版商品详情样式-----end***************/
