html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { -webkit-font-smoothing: antialiased; line-height: 1.6; min-width: 1200px; background: #e7e8eb; font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif; color: #222; font-size: 14px; }
input, textarea, button, a { outline: 0; }
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea { margin: 0; }
a { color: #459ae9; text-decoration: none; }
a:hover { text-decoration: underline; }
button,
input,
select,
textarea { *font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif; resize: none; overflow-y: auto; }
fieldset, legend, textarea, input { padding: 0; }
ul, ol { padding-left: 0; list-style-type: none; }
a img, fieldset { border: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

.body { width: 1200px; margin-left: auto; margin-right: auto; padding: 36px 0 88px; }

/*head*/
.head .inner { *zoom: 1; height: 60px; }
.head .inner:after { content: "\200B"; display: block; height: 0; clear: both; }
.head .inner.wrp { width: 1200px; margin-left: auto; margin-right: auto; }
.head_box { position: relative; background-color: #fff; border-top: 4px solid #44b549; border-bottom: 1px solid #d9dadc; }
.icon_subscribe_label { vertical-align: middle; display: inline-block; overflow: hidden; background-color: #459ae9; color: white; padding: 2px 2px; font-size: 12px; line-height: 16px; }
.icon_verify_label { vertical-align: middle; display: inline-block; overflow: hidden; background-color: #e7e7eb; padding: 2px 2px; font-size: 12px; line-height: 16px; }
.account { float: right; padding-top: 10px; }
.account_meta { display: inline-block; *display: inline; *zoom: 1; vertical-align: bottom; }
.account_faq { padding-top: 18px; }
.account_line { font-weight: 400; font-style: normal; color: #8d8d8d; margin: 0 5px; position: relative; top: -1px; font-size: 12px; }
.account { font-size: 0; }
.account_meta { font-size: 14px; }
.account_meta_primary a { color: #222; }
.account_meta_primary a:hover { color: #459ae9; }
.account_info { position: relative; min-width: 80px; }
.account_info .avatar { position: absolute; top: 0; left: -50px; width: 38px; height: 38px; background-color: #f0f0f0; }
.account_info .type_wrp { position: absolute; top: 2px; left: 0; }
.account_info .type_wrp .type { vertical-align: top; }
.account_info .nickname { display: inline-block; font-weight: 400; font-style: normal; margin-top: 20px; }
.account_logout a { display: inline-block; margin-left: 5px; line-height: 16px; margin-top: 18px; padding-left: 5px; border-left: 1px solid #e7e7eb; }
.account_faq a { display: inline-block; }
.logo { float: left; padding-top: 10px; font-size: 24px; }
.logo a { display: block; width: 250px; height: 40px; overflow: hidden; text-decoration: none; *background: transparent url(/mpres/htmledition/images/bg/bg_logo318e8e.png) 0 0 no-repeat; *line-height: 120px; }
.logo a:before { display: inline-block; content: url(/img/logo.jpg); }


/*left*/
.menu { padding-bottom: 6px; border-top: 1px solid #e7e7eb; padding-top: 6px; }
.menu_box { margin-bottom: 150px; }
.menu_title { position: relative; padding: 0 30px 0; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; line-height: 34px; *font-size: 14px; color: #8d8d8d; }
.menu_title .new { margin-left: 3px; }
.menu_title a { display: block; padding: 0 30px 0; color: #222; text-decoration: none; }
.menu_title a:hover { text-decoration: none; }
.menu_title.clickable { padding: 0; }
.menu_title.clickable i { cursor: pointer; }
.menu_title.clickable:hover { background-color: #f4f5f9; }
.menu_title.selected { background-color: #44b549; color: #fff; }
.menu_title.selected:hover { background-color: #44b549; }
.menu_title.selected a { color: #fff; }
.menu_item { line-height: 34px; *font-size: 14px; }
.menu_item a { display: block; padding: 0 0 0 58px; width: auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; color: #222; }
.menu_item a:hover { text-decoration: none; }
.icon_menu { margin-right: 10px; margin-top: -0.2em; *margin-top: 0; }
.icon_menu_switch { position: absolute; right: 16px; top: 50%; margin-top: -9px; }
.menu.no_extra { border-top-width: 0; margin-top: 13px; }
.menu.extra { border-bottom: 1px solid #e7e7eb; }
.menu_title { margin-bottom: 0; }
.menu_item:hover { background-color: #f4f5f9; }
.menu_item.selected { background-color: #44b549; color: #fff; }
.menu_item.selected a { color: #fff; }

.faq { width: 178px; margin-top: -42px; position: relative; top: -18px; padding-left: 20px; font-size: 0; }
.faq .links { text-align: left; }
.faq .links_item { padding: 0 .5em; font-size: 12px; *line-height: 15px; }
.faq .links_item a { color: #8d8d8d; }
.faq .links_item a:hover { color: #459ae9; }
.faq .links_item.no_extra { padding-left: 0; }
.faq .tail { color: #8d8d8d; font-size: 12px; line-height: 30px; }

/*pager*/
.pagination { *font-size: 0; padding: 20px; text-align: right; }
.pagination .btn { border: 1px solid #ccc; padding: 0 22px; border-radius: 3px; display: inline-block; text-decoration: none; }
.page_nav_area, .goto_area { display: inline-block; vertical-align: middle; font-size: 12px; }
.page_nav_area { letter-spacing: 4px; *letter-spacing: normal; }
.page_nav_area .btn { letter-spacing: normal; *margin: 0 3px; }
.page_nav_area .gap_prev, .page_nav_area .gap_next { letter-spacing: normal; display: inline-block; font-size: 14px; vertical-align: middle; margin-left: 4px; margin-right: 4px; }
.btn.page_nav { margin: 0; background-color: #fff; background-image: -moz-linear-gradient(top,#fff 0,#fff 100%); background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff)); background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%); background-image: -o-linear-gradient(top,#fff 0,#fff 100%); background-image: linear-gradient(to bottom,#fff 0,#fff 100%); border-color: #e6e7ec; color: #222; height: 30px; line-height: 30px; *line-height: 28px; width: auto; padding-left: 14px; padding-right: 14px; }
.btn.page_nav button { color: #222; }
.btn.page_nav:hover { background-color: #e6e7ec; background-image: -moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec)); background-image: -webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: -o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%); border-color: #dadbe0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; color: #000; }
.btn.page_nav:hover button { color: #222; }
.btn.page_nav.current { border: 0; background: 0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; cursor: default; }
.btn.page_prev, .btn.page_next { position: relative; background-color: #fff; background-image: -moz-linear-gradient(top,#fff 0,#fff 100%); background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff)); background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%); background-image: -o-linear-gradient(top,#fff 0,#fff 100%); background-image: linear-gradient(to bottom,#fff 0,#fff 100%); border-color: #e6e7ec; color: #222; height: 30px; line-height: 30px; *line-height: 28px; width: auto; padding-left: 14px; padding-right: 14px; }
.btn.page_prev button, .btn.page_next button { color: #222; }
.btn.page_prev:hover, .btn.page_next:hover { background-color: #e6e7ec; background-image: -moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec)); background-image: -webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: -o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%); border-color: #dadbe0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; color: #000; }
.btn.page_prev:hover button, .btn.page_next:hover button { color: #222; }
.btn.page_prev .arrow, .btn.page_next .arrow { position: absolute; top: 50%; left: 50%; margin-top: -6px; margin-left: -3px; }
.btn.page_first, .btn.page_last, .btn.page_go { background-color: #fff; background-image: -moz-linear-gradient(top,#fff 0,#fff 100%); background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff)); background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%); background-image: -o-linear-gradient(top,#fff 0,#fff 100%); background-image: linear-gradient(to bottom,#fff 0,#fff 100%); border-color: #e6e7ec; color: #222; height: 30px; line-height: 30px; *line-height: 28px; width: auto; padding-left: 20px; padding-right: 20px; }
.btn.page_first button, .btn.page_last button, .btn.page_go button { color: #222; }
.btn.page_first:hover, .btn.page_last:hover, .btn.page_go:hover { background-color: #e6e7ec; background-image: -moz-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: -webkit-gradient(linear,0 0,0 100%,from(#e6e7ec),to(#e6e7ec)); background-image: -webkit-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: -o-linear-gradient(top,#e6e7ec 0,#e6e7ec 100%); background-image: linear-gradient(to bottom,#e6e7ec 0,#e6e7ec 100%); border-color: #dadbe0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; color: #000; }
.btn.page_first:hover button, .btn.page_last:hover button, .btn.page_go:hover button { color: #222; }
.page_next .arrow { display: inline-block; width: 0; height: 0; border-width: 6px; border-style: dashed; border-color: transparent; border-right-width: 0; border-left-color: #919191; border-left-style: solid; }
.page_prev .arrow { display: inline-block; width: 0; height: 0; border-width: 6px; border-style: dashed; border-color: transparent; border-left-width: 0; border-right-color: #919191; border-right-style: solid; }
.page_num { display: inline-block; vertical-align: middle; font-size: 14px; *margin-right: 4px; letter-spacing: normal; }
.goto_area { margin-left: 8px; }
.goto_area input[type="text"] { vertical-align: middle; width: 75px; height: 22px; line-height: 22px; padding: 4px 0; border: 1px solid #e7e7eb; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-align: center; font-size: 14px; margin-right: 4px; }


/**/
.container_box { min-height: 700px; border: 1px solid #d9dadc; background-color: #fff; }
.col_side, .container_box.cell_layout .col_main { display: table-cell; vertical-align: top; word-wrap: break-word; word-break: break-all; }
.col_side { width: 17.5%; max-width: 208px; border-right: 1px solid #e7e7eb; }
.col_main { width: 2000px; height: 700px; }
.col_side { *float: left; *width: 208px; *padding-bottom: 9999em; *margin-bottom: -9999em; }
.col_main { *zoom: 1; *width: auto; *height: auto; }
.main_hd h2 { font-size: 16px; padding: 0 30px; line-height: 75px; border-bottom: 1px solid #e7e7eb; font-weight: 400; font-style: normal; }
.main_hd .info { margin-top: -40px; text-align: right; }
.main_bd { padding: 30px; min-height: 600px; }

/*foot*/
.foot { padding: 24px 0; color: #f1f1f1; text-align: center; background-color: #b8b9b9; }
.copyright { display: inline; }
.ft.links { font-size: 12px; }
.ft .links_item { border-left-color: #f1f1f1; *line-height: 15px; }
.ft .links_item a { color: #f1f1f1; }


.ui-dialog { *zoom: 1; _float: left; position: relative; background-color: #FFF; margin: 3px; _margin-left: 3px; outline: 0; background-clip: padding-box; font-size: 12px; line-height: 1.428571429; color: #333; opacity: 0; -webkit-transform: scale(0); transform: scale(0); -webkit-transition: -webkit-transform .15s ease-in-out, opacity .15s ease-in-out; transition: transform .15s ease-in-out, opacity .15s ease-in-out; }
.ui-popup { background: url("../img/dialog.bg.png"); }
.ui-dialog-tip .ui-dialog { border: 1px solid #bcbcbc; }
.ui-dialog-tip { background: none; }
.ui-dialog-tip .ui-dialog-content { line-height: normal; }
.ui-popup-show .ui-dialog { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.ui-popup-focus .ui-dialog { box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
.ui-popup-modal .ui-dialog { box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, .3); }
.ui-dialog-grid { width: auto; margin: 0; border: 0 none; border-collapse: collapse; border-spacing: 0; background: transparent; }
.ui-dialog-header,
.ui-dialog-body,
.ui-dialog-footer { padding: 0; border: 0 none; text-align: left; background: transparent; }
.ui-dialog-header { background: none repeat scroll 0 0 #f3f3f3; border-bottom: 1px solid #dbdbdb; color: #444444; height: 30px; white-space: nowrap; }
.ui-dialog-close { position: relative; _position: absolute; float: right; top: 4px; right: 6px; _height: 26px; padding: 0 4px; font-size: 21px; color: #666; opacity: 1; resize: none; overflow: hidden; filter: alpha(opacity=100); font-weight: bold; line-height: 1; text-shadow: 0 1px 0 #FFF; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; }
.ui-dialog-close:hover,
.ui-dialog-close:focus { text-decoration: none; color: #333; cursor: pointer; outline: 0; opacity: 0.5; filter: alpha(opacity=50); }
.ui-dialog-title { margin: 0; line-height: 1.428571429; min-height: 16.428571429px; padding: 5px 15px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: bold; cursor: default; }
.ui-dialog-body { padding: 15px; text-align: left; min-width: 200px; }
.ui-dialog-tip .ui-dialog-body { padding: 5px; }
.ui-dialog-content { display: inline-block; position: relative; vertical-align: middle; *zoom: 1; *display: inline; text-align: left; line-height: 30px; }
.ui-dialog-footer { padding: 0 20px 20px 20px; text-align: right; }
.ui-dialog-statusbar { float: left; margin-right: 20px; padding: 6px 0; line-height: 1.428571429; font-size: 14px; color: #888; white-space: nowrap; }
.ui-dialog-statusbar label:hover { color: #333; }
.ui-dialog-statusbar input,
.ui-dialog-statusbar .label { vertical-align: middle; }
