<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="app-key" value="9C3578B5477B4FF4ACD8CFDFB0602578D18181871CBF46FE118E15D486729F29" />
  </appSettings>
  <connectionStrings>
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=X.Wx.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>